*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    /*display: flex;*/
    background-image: url(fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body,button,input{
    font-size: clamp(14px, 1.6rem, 2vw);
    font-family: 'Poppins', sans-serif;
}